# https://pip.pypa.io/en/stable/reference/requirements-file-format/
/Volumes/edav_prd_cdh/cdh_ml/metadata_compute/packages/wheels/spacy-3.7.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
/Volumes/edav_prd_cdh/cdh_ml/metadata_compute/packages/wheels/scispacy-0.5.4-py3-none-any.whl
/Volumes/edav_prd_cdh/cdh_ml/metadata_compute/packages/wheels/en_core_sci_lg-0.5.4.tar.gz
