/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/spacy-3.7.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
# we need to rebuild the models
#scikit_learn==1.1.1
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/scikit_learn-1.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
#/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/scikit_learn-1.1.2-cp311-cp311-linux_x86_64.whl
#scipy==1.10.1
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/scipy-1.51.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
#nmslib@git+https://github.com/ulc0/nmslib.git/#subdirectory=python_bindings
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/nmslib-2.1.2-cp311-cp311-linux_x86_64.whl
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/scispacy-0.5.4-py3-none-any.whl
#/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/scispacy-0.5.4-py3-none-any.whl
#/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/source/nmslib-1.7.3.6.tar.gz
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/en_core_sci_lg-0.5.4-py3-none-any.whl
/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/en_ner_bc5cdr_md-0.5.4-py3-none-any.whl
#spacy[cuda12x]==3.7.5
#/Volumes/edav_dev_cdh/cdh_ml/metadata_compute/packages/wheels/tokenizers-0.15.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
